.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    padding: 12px 15px;
    flex-wrap: wrap;
    list-style-type: none
}

.pageClassName {
    list-style-type: none;
    max-width: max-content;
    border-radius: 8px;
}

.activeClassname {
    background-color: #F9F5FF;
}

.activeClassnameDark {
    background-color: #343336;
}

.previousClassname {
    margin-right: auto;
}

.breakClassname {
    margin: auto 0;
}

.nextClassname {
    margin-left: auto;
}